.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.quiz-box {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  max-width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 5px 0 5px 0;
  padding: 2rem;
}
.question {
  font-size: 20px;
  text-align: center;
}
.option-pick {
  font-size: 20px;
  margin: 10px 0;
}
.option {
}
.btn {
  margin-top: 20px;
  display: flex;
}
.p-btn {
  align-content: flex-start;
}
.n-btn {
  align-content: flex-end;
}
